:root.theme-light {
  --page-bg-color: #fff1f7;
  --page-bg-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --subtitle-color: #353430;
  --decorated-zone-color: #353430;
  --text-color: #353430;
  --decor-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --page-bg-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --subtitle-color: #353430;
    --decorated-zone-color: #353430;
    --text-color: #353430;
    --decor-title-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --rec-display: none;
  }
}
